<%- include('preloader.ejs', {}); %>

<script src="../scripts/navigation.js"></script>

<nav>
    <ul id="main-nav" class="main-nav-list <% if (isIndex) { %>unsticked<% } %>">
        <% if(isIndex) { %>
            <li class="main-nav-item">
                <a>
                    <svg class="small-logo" fill="#000000" width="800px" height="800px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M26 17l-3 3-3-3-3 3-3-3-3 3-6-6 3-3 3 3 3-3 3 3 3-3 6 6z"></path>
                    </svg>
                </a>
            </li>
        <% } else { %>
            <li class="main-nav-item">
                <a href="../../">
                    <svg class="small-logo" fill="#000000" width="800px" height="800px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26 17l-3 3-3-3-3 3-3-3-3 3-6-6 3-3 3 3 3-3 3 3 3-3 6 6z"></path>
                    </svg>
                </a>
            </li>
        <% } %>

        <% if (!userData) { %>
            <li class="main-nav-item">
                <a class="button" href="../signin">
                    <%= locale.auth_button %>
                </a>
            </li>
        <% } else { %>
            <div id="profile-menu" style="display: none;" class="profile-menu">
                <ul>
                    <li class="profile-menu-item">
                        <a class="profile-a" href="../studio">
                            <svg fill="#000000" width="800px" height="800px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M4 13h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1zm-1 7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v4zm10 0a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v7zm1-10h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1z"/></svg>
                            <%- locale.profile_menu_studio %>
                        </a>
                    </li>

                    <li class="profile-menu-item">
                        <a class="profile-a" href="../logout">
                            <svg fill="#000000" width="800px" height="800px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20,20H19V3a1,1,0,0,0-1-1H6A1,1,0,0,0,5,3V20H4a1,1,0,0,0,0,2H20a1,1,0,0,0,0-2ZM7,11a1,1,0,0,1,2,0v2a1,1,0,0,1-2,0Z"/></svg>
                            <%- locale.profile_menu_logout %>
                        </a>
                    </li>
                </ul>
            </div>

            <li class="main-nav-item">
                <div id="main-user" class="main-user">
                    <div class="main-user-avatar" style="background-image: url(../avatar/<%- userData.id %>.png);"></div>
                    <div class="main-user-name"><%= userData.login %></div>
                    <div class="main-user-arrow">
                        <svg class="main-user-menu-button" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z" fill="#0F0F0F"/>
                        </svg>
                    </div>
                </div>
            </li>

            
        <% } %>
    </ul>
</nav>