<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <%- include('elems/styles.ejs', {}); %>

    <link rel="stylesheet" href="../styles/pages/404.css"/>
</head>
<body>
    <main class="error-block">
        <svg class="small-icon" viewBox="0 0 36 36" version="1.1"  preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M18,2A16,16,0,1,0,34,18,16,16,0,0,0,18,2Zm9,12.28a1.8,1.8,0,1,1-1.8-1.8A1.8,1.8,0,0,1,27,14.28Zm-15.55,1.8a1.8,1.8,0,1,1,1.8-1.8A1.8,1.8,0,0,1,11.41,16.08Zm14,7.53a1,1,0,0,1-1.6,1.2,7,7,0,0,0-11.31.13,1,1,0,1,1-1.63-1.16,9,9,0,0,1,14.54-.17Z" class="clr-i-solid clr-i-solid-path-1"></path>
            <rect x="0" y="0" width="36" height="36" fill-opacity="0"/>
        </svg>

        <div class="error-text">
            <%- locale.error_404 %>
        </div>

        <div class="error-text-description">
            <%- locale.error_404_description %>
        </div>

        <a style="margin-top: 20px;" class="button" href="../../../../../index"><%- locale.comeback_button %></a>
    </main>
</body>
</html>