<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- artistData.username %> | <%- title %></title>

    <%- include('elems/styles.ejs', {}); %>

    <link rel="stylesheet" href="../styles/pages/artist.css"/>

</head>
<%- `<body style="background-image: url('../banner/${artistData.id}.png')">` %>

    <main>
        <div id="artist-info" class="artist-info-block">
            <div class="artist-label"><%- locale.artist %></div>

            <div class="artist-name"><%- artistData.username %></div>
            <div class="artist-description"><%- artistData.description %></div>
        </div>

        <div class="artist-songs-list">

            <% if (typeof artistData.lastRelease != "undefined") { %>
                <a class="artist-last-release" href="../song/<%- artistData.lastRelease.id %>">

                    <img class="last-release-image" src="../thumbnails/<%- artistData.lastRelease.id %>.png">

                    <div class="artist-last-release-block-info breakable-word">
                        <% let publicationDate = new Date(artistData.lastRelease.publication_date); %>

                        <div class="artist-last-release-title"><%- artistData.lastRelease.name %></div>
                        <div class="artist-last-release-sub-title"><%- publicationDate.getDate() + ' ' + locale.months_three[(publicationDate.getMonth())] + ' ' + publicationDate.getFullYear() %></div>
                    </div>
                    
                </a>
            <% } %>

            <% if (artistData.songsList.length !== 0) { %>
                <ul class="song-list">
                    <%- locale.artist_song_list %>

                    <% artistData.songsList.forEach(song => { %>
                        <%- `<li class="song-list-item"><div class="vertically-center-flex"><div class="song-play"><div id="song-play-button" class="song-play-button" data-id="${song.id}"><svg width="32" height="32" viewBox="-1 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Dribbble-Light-Preview" transform="translate(-65.000000, -3803.000000)" fill="#FFFFFF"><g id="icons" transform="translate(56.000000, 160.000000)"><path d="M18.074,3650.7335 L12.308,3654.6315 C10.903,3655.5815 9,3654.5835 9,3652.8985 L9,3645.1015 C9,3643.4155 10.903,3642.4185 12.308,3643.3685 L18.074,3647.2665 C19.306,3648.0995 19.306,3649.9005 18.074,3650.7335" id="play-[#1000]"></path></g></g></g></svg></div><img class="song-img" src="../thumbnails/${song.id}.png" alt="${song.name}"></div><a class="song-name-info" href="../song/${song.id}">${song.name}</a></div><div class="song-small-info">${song.plays}</div></li>` %>
                    <% }); %>
                </ul>
            <% } else { %>
                <div class="not-found"><%- locale.artist_not_songs_found %></div>
            <% } %>
        </div>
    </main>

    <%- include('elems/header.ejs', { isIndex: false }); %>
    <%- include('elems/player.ejs', {}); %>
</body>