<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- artistData.username %> | <%- title %></title>

    <%- include('elems/styles.ejs', {}); %>

    <link rel="stylesheet" href="../styles/pages/artist.css"/>
    <script src="../scripts/artist.js"></script>
</head>
<%- `<body style="background-image: url('../banner/${artistData.id}.png')">` %>

    <main>
        <div class="artist-info">
            <div class="artist-info-block">
                <div class="artist-label"><%- locale.artist %></div>
                <div class="artist-name"><%- artistData.username %></div>
                <div class="artist-description"><%- artistData.description %></div>
            </div>

            <div id="artist-options" class="navigation-icon">
                <svg fill="#000000" width="800px" height="800px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.15 28.012v-0.85c0.019-0.069 0.050-0.131 0.063-0.2 0.275-1.788 1.762-3.2 3.506-3.319 1.95-0.137 3.6 0.975 4.137 2.787 0.069 0.238 0.119 0.488 0.181 0.731v0.85c-0.019 0.056-0.050 0.106-0.056 0.169-0.269 1.65-1.456 2.906-3.081 3.262-0.125 0.025-0.25 0.063-0.375 0.094h-0.85c-0.056-0.019-0.113-0.050-0.169-0.056-1.625-0.262-2.862-1.419-3.237-3.025-0.037-0.156-0.081-0.3-0.119-0.444zM20.038 3.988l-0 0.85c-0.019 0.069-0.050 0.131-0.056 0.2-0.281 1.8-1.775 3.206-3.538 3.319-1.944 0.125-3.588-1-4.119-2.819-0.069-0.231-0.119-0.469-0.175-0.7v-0.85c0.019-0.056 0.050-0.106 0.063-0.162 0.3-1.625 1.244-2.688 2.819-3.194 0.206-0.069 0.425-0.106 0.637-0.162h0.85c0.056 0.019 0.113 0.050 0.169 0.056 1.631 0.269 2.863 1.419 3.238 3.025 0.038 0.15 0.075 0.294 0.113 0.437zM20.037 15.575v0.85c-0.019 0.069-0.050 0.131-0.063 0.2-0.281 1.794-1.831 3.238-3.581 3.313-1.969 0.087-3.637-1.1-4.106-2.931-0.050-0.194-0.094-0.387-0.137-0.581v-0.85c0.019-0.069 0.050-0.131 0.063-0.2 0.275-1.794 1.831-3.238 3.581-3.319 1.969-0.094 3.637 1.1 4.106 2.931 0.050 0.2 0.094 0.394 0.137 0.588z"></path>
                </svg>

                <ul id="options-list" class="options-list">
                    <li>
                        <%- `<a href="../../../report/${artistData.id}"</a>` %>
                            <svg width="32px" height="32px" viewBox="0 0 24 24" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.7605 15.92L15.3605 4.4C14.5005 2.85 13.3105 2 12.0005 2C10.6905 2 9.50047 2.85 8.64047 4.4L2.24047 15.92C1.43047 17.39 1.34047 18.8 1.99047 19.91C2.64047 21.02 3.92047 21.63 5.60047 21.63H18.4005C20.0805 21.63 21.3605 21.02 22.0105 19.91C22.6605 18.8 22.5705 17.38 21.7605 15.92ZM11.2505 9C11.2505 8.59 11.5905 8.25 12.0005 8.25C12.4105 8.25 12.7505 8.59 12.7505 9V14C12.7505 14.41 12.4105 14.75 12.0005 14.75C11.5905 14.75 11.2505 14.41 11.2505 14V9ZM12.7105 17.71C12.6605 17.75 12.6105 17.79 12.5605 17.83C12.5005 17.87 12.4405 17.9 12.3805 17.92C12.3205 17.95 12.2605 17.97 12.1905 17.98C12.1305 17.99 12.0605 18 12.0005 18C11.9405 18 11.8705 17.99 11.8005 17.98C11.7405 17.97 11.6805 17.95 11.6205 17.92C11.5605 17.9 11.5005 17.87 11.4405 17.83C11.3905 17.79 11.3405 17.75 11.2905 17.71C11.1105 17.52 11.0005 17.26 11.0005 17C11.0005 16.74 11.1105 16.48 11.2905 16.29C11.3405 16.25 11.3905 16.21 11.4405 16.17C11.5005 16.13 11.5605 16.1 11.6205 16.08C11.6805 16.05 11.7405 16.03 11.8005 16.02C11.9305 15.99 12.0705 15.99 12.1905 16.02C12.2605 16.03 12.3205 16.05 12.3805 16.08C12.4405 16.1 12.5005 16.13 12.5605 16.17C12.6105 16.21 12.6605 16.25 12.7105 16.29C12.8905 16.48 13.0005 16.74 13.0005 17C13.0005 17.26 12.8905 17.52 12.7105 17.71Z" fill="#292D32"/>
                            </svg>
                            <div><%- locale.artist_options_report %></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="artist-songs-list">

            <% if (typeof artistData.lastRelease != "undefined") { %>
                <div class="artist-category-title"><%- locale.artist_last_release %></div>

                <a class="artist-last-release" href="../song/<%- artistData.lastRelease.id %>">

                    <img class="last-release-image" src="../thumbnails/<%- artistData.lastRelease.id %>.png">

                    <div class="artist-last-release-block-info breakable-word">
                        <% let publicationDate = new Date(artistData.lastRelease.publication_date); %>

                        <div class="artist-last-release-title"><%- artistData.lastRelease.name %></div>
                        <div class="artist-last-release-sub-title"><%- publicationDate.getDate() + ' ' + locale.months_three[(publicationDate.getMonth())] + ' ' + publicationDate.getFullYear() %></div>
                    </div>
                    
                </a>
            <% } %>

            <% if (artistData.songsList.length !== 0) { %>
                <ul class="song-list">
                    <%- locale.artist_song_list %>

                    <% artistData.songsList.forEach(song => { %>
                        <%- `<li class="song-list-item"><div class="vertically-center-flex"><div class="song-play" data-id="${song.id}" data-name="${song.name}" data-artist="${song.artist_id}" data-arname="${artistData.username}"><div id="song-play-button" class="song-play-button" data-id="${song.id}"><svg width="32" height="32" viewBox="-1 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Dribbble-Light-Preview" transform="translate(-65.000000, -3803.000000)" fill="#FFFFFF"><g id="icons" transform="translate(56.000000, 160.000000)"><path d="M18.074,3650.7335 L12.308,3654.6315 C10.903,3655.5815 9,3654.5835 9,3652.8985 L9,3645.1015 C9,3643.4155 10.903,3642.4185 12.308,3643.3685 L18.074,3647.2665 C19.306,3648.0995 19.306,3649.9005 18.074,3650.7335" id="play-[#1000]"></path></g></g></g></svg></div><img class="song-img" src="../thumbnails/${song.id}.png" alt="${song.name}"></div><a class="song-name-info" href="../song/${song.id}">${song.name}</a></div><div class="song-small-info">${song.plays}</div></li>` %>
                    <% }); %>
                </ul>
            <% } else { %>
                <div class="not-found"><%- locale.artist_not_songs_found %></div>
            <% } %>
        </div>
    </main>

    <%- include('elems/header.ejs', { isIndex: false }); %>
</body>