<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>

    <%- `<meta property="og:site_name" content="Noise">` %>
    <%- `<meta property="og:title" content="${locale.main_title}">` %>
    <%- `<meta property="og:url" content="${host}">` %>
    <%- `<meta property="og:image" content="${host}/brand/noise-unfurl-square.png">` %>
    <%- `<meta property="og:description" content="${locale.main_description}">` %>
    <%- `<meta name="theme-color" content="${locale.theme_color}">` %>

    <%- include('elems/styles.ejs', {}); %>
</head>

<body>

    <% if (!historyUrl) { %>
        <iframe id="main-window" src="../index" width="100%" height="100%"></iframe>
    <% } else { %>
        <%- `<iframe id="main-window" src="${historyUrl}" width="100%" height="100%"></iframe>` %>
    <% } %>

    <%- include('elems/player.ejs', {}); %>
</body>    
</html>