<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <%- include('elems/styles.ejs', {}); %>

    <link rel="stylesheet" href="styles/pages/signin.css"/>

    <script src="scripts/signin.js"></script>

</head>
<body>
    <main>
        <form class="login-form" method="post" action="../signin" enctype="application/x-www-form-urlencoded">
            <div class="link-href-button">
                <svg width="24" height="24" viewBox="0 -4 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>arrow-left</title> <desc>Created with Sketch Beta.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-416.000000, -939.000000)" fill="#ffffff"> <path d="M443,948 L436,948 L436,950 L443,950 C443.553,950 444,949.553 444,949 C444,948.448 443.553,948 443,948 L443,948 Z M426.657,955.243 C427.047,955.633 427.047,956.267 426.657,956.657 C426.267,957.048 425.633,957.048 425.242,956.657 L418.343,949.758 C418.135,949.549 418.046,949.272 418.06,949 C418.046,948.728 418.135,948.451 418.343,948.243 L425.242,941.344 C425.633,940.953 426.267,940.953 426.657,941.344 C427.047,941.733 427.047,942.367 426.657,942.758 L421.414,948 L436,948 L436,941 C436,939.896 435.104,939 434,939 L418,939 C416.896,939 416,939.896 416,941 L416,957 C416,958.104 416.896,959 418,959 L434,959 C435.104,959 436,958.104 436,957 L436,950 L421.414,950 L426.657,955.243 L426.657,955.243 Z" id="arrow-left" sketch:type="MSShapeGroup"> </path> </g> </g> </g></svg>
                <a href="../index"><%- locale.auth_back_button %></a>
            </div>

            <div class="name-label">
                <%- locale.auth_login %>
            </div>

            <div>
                <svg class="vertically-center" width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM15 9C15 10.6569 13.6569 12 12 12C10.3431 12 9 10.6569 9 9C9 7.34315 10.3431 6 12 6C13.6569 6 15 7.34315 15 9ZM12 20.5C13.784 20.5 15.4397 19.9504 16.8069 19.0112C17.4108 18.5964 17.6688 17.8062 17.3178 17.1632C16.59 15.8303 15.0902 15 11.9999 15C8.90969 15 7.40997 15.8302 6.68214 17.1632C6.33105 17.8062 6.5891 18.5963 7.19296 19.0111C8.56018 19.9503 10.2159 20.5 12 20.5Z" fill="#FFFFFF"/>
                </svg>
                <input type="text" name="username" id="username" placeholder="<%- locale.username_label %>" class="text-box" required>
            </div>

            <div>
                <svg class="vertically-center" version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                    width="32px" height="32px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <path fill="#FFFFFF" d="M52,24h-4v-8c0-8.836-7.164-16-16-16S16,7.164,16,16v8h-4c-2.211,0-4,1.789-4,4v32c0,2.211,1.789,4,4,4h40
                    c2.211,0,4-1.789,4-4V28C56,25.789,54.211,24,52,24z M32,48c-2.211,0-4-1.789-4-4s1.789-4,4-4s4,1.789,4,4S34.211,48,32,48z M40,24
                    H24v-8c0-4.418,3.582-8,8-8s8,3.582,8,8V24z"/>
                </svg>
                <input type="password" name="password" id="password" placeholder="<%- locale.password_label %>" class="text-box" required>
            </div>

            <button id="signin-button" style="border-radius: 5px;" class="button"><%- locale.enter_button %></button>
            <div class="create-account-label">
                <%- locale.auth_first_time %>
                <a href="../signup" class="create-account"><%- locale.auth_create_account %></a>
            </div>
            
            <div id="signin-error-text" class="form-error-text">
                <% if (typeof errorData !== "undefined") { %>
                    <% if (errorData === 400) { %>
                        <%- locale.auth_error_wrong_password %>
                    <% } %>

                    <% if (errorData === 404) { %>
                        <%- locale.auth_error_not_found %>
                    <% } %>
                <% } %>
            </div>

        </form>
    </main>
</body>
</html>