<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <%- include('elems/styles.ejs', {}); %>

    <script src="../../../../scripts/studio.js"></script>
    <link rel="stylesheet" href="../../../../styles/pages/studio.css"/>
</head>
<body>
    <%- include('elems/preloader.ejs', {}); %>

    <a href="../../../../artist/<%- artistData.id %>" class="profile-block">
        <div><img class="account-avatar" src="../../../../banner/<%- artistData.id %>.png" alt="Avatar"></div>
        <div class="account-name"><%- artistData.username %></div>
        <div class="account-description"><%- artistData.description %></div>
    </a>


    <% var totalPlays = 0; %>
    <% artistData.songsList.forEach(song => { %>
        <% totalPlays += song.plays; %>
    <% }); %>


    <% var decPlaces = Math.pow(10, 3); %>
    <% var abbrev = ["k", "m"] %>

    <% for (var i = abbrev.length - 1; i >= 0; i--)  { %>
        <% var size = Math.pow(10, (i + 1) * 3); %>

        <% if (size <= totalPlays) { %>
            <% totalPlays = Math.round(totalPlays * decPlaces / size) / decPlaces; %>

            <% if ((totalPlays == 1000) && (i < abbrev.length - 1)) { %>
                <% totalPlays = 1; %>
                <% i++; %>
            <% } %>

            <% totalPlays += abbrev[i]; %>
        <% } %>
    <% } %>

    <main class="main-studio">

    <% if(!section) { %>
        <div class="studio-block transparent">
            <div class="label"><%- locale.studio_stats %></div>
        </div>
    
        <ul class="stats-block-list">
            <li class="stats-block">
                <div class="stats-label"><%- locale.studio_stats_plays %></div>
                <div class="stats-number-label"><%- totalPlays %></div>
            </li>
            <li class="stats-block">
                <div class="stats-label"><%- locale.studio_stats_amount %></div>
                <div class="stats-number-label">
                    <%= artistData.songsList.length %>
                </div>
            </li>
            <li class="stats-block">
                <div class="stats-label"><%- locale.studio_stats_listening %></div>
                <div id="currently-listening" class="stats-number-label">
                    <div>0</div>
                </div>
            </li>
        </ul>
    <% } %>
    
            <% if (section == 'content') { %>
                <% if(!subsection) { %>
                    <div class="studio-block transparent">
                        <div class="label label-box">
                            <div><%- locale.artist_song_list %></div>

                            <div>
                                <a id="add-button" class="add-button" href="../../../studio/content/add">
                                    <svg class="navigation-icon" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM16 12.75H12.75V16C12.75 16.41 12.41 16.75 12 16.75C11.59 16.75 11.25 16.41 11.25 16V12.75H8C7.59 12.75 7.25 12.41 7.25 12C7.25 11.59 7.59 11.25 8 11.25H11.25V8C11.25 7.59 11.59 7.25 12 7.25C12.41 7.25 12.75 7.59 12.75 8V11.25H16C16.41 11.25 16.75 11.59 16.75 12C16.75 12.41 16.41 12.75 16 12.75Z" fill="#292D32"/>
                                    </svg>

                                    <div class="small-button"><%- locale.studio_content_addbutton %></div>
                                </a>

                                <a id="edit-button" style="display: none;" class="add-button" href="../../../studio/content/edit/1">
                                    <svg class="navigation-icon" width="800px" height="800px" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.681 18.207l-2.209 5.67 5.572-2.307-3.363-3.363zM26.855 6.097l-0.707-0.707c-0.78-0.781-2.047-0.781-2.828 0l-1.414 1.414 3.535 3.536 1.414-1.414c0.782-0.781 0.782-2.048 0-2.829zM10.793 17.918l0.506-0.506 3.535 3.535 9.9-9.9-3.535-3.535 0.707-0.708-11.113 11.114zM23.004 26.004l-17.026 0.006 0.003-17.026 11.921-0.004 1.868-1.98h-14.805c-0.552 0-1 0.447-1 1v19c0 0.553 0.448 1 1 1h19c0.553 0 1-0.447 1-1v-14.058l-2.015 1.977 0.054 11.085z"></path>
                                    </svg>

                                    <div class="small-button"><%- locale.studio_content_editbutton %></div>
                                </a>

                                <a id="delete-button" style="display: none;" class="add-button" href="../studio/content/edit/1">
                                    <svg class="navigation-icon" width="800px" height="800px" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.755,20.283,4,8H20L18.245,20.283A2,2,0,0,1,16.265,22H7.735A2,2,0,0,1,5.755,20.283ZM21,4H16V3a1,1,0,0,0-1-1H9A1,1,0,0,0,8,3V4H3A1,1,0,0,0,3,6H21a1,1,0,0,0,0-2Z"/>
                                    </svg>

                                    <div class="small-button"><%- locale.studio_content_deletebutton %></div>
                                </a>
                            </div>
                        </div>
        
                        

                        <% if(artistData.songsList.length != 0) { %>
                            <ul id="studio-songs-list" class="studio-songs-list">
                                <% artistData.songsList.forEach(song=> { %>
                                    <li data-id="<%- song.id %>">
                                        <div class="small-information">
        
                                            <input type="checkbox" class="song-selector" name="song" data-id="<%- song.id %>">
        
                                            <img src="../../../thumbnails/<%- song.id %>.png">
                                            <div>
                                                <%- song.name %>
                                            </div>
                                        </div>
        
                                        <div class="small-info">
                                            <%- song.plays %>
                                        </div>
                                    </li>
                                    <% }); %>
                            </ul>
                            <% } else { %>
                                <div class="error-text-info">
                                    <%- locale.studio_content_notracks %>
                                </div>
                                <% } %>
                    </div>
                <% } else { %>
                    <% if (subsection == "add") { %>
                        <form class="studio-form" method="post" enctype="multipart/form-data">
                            <div class="form-title"><%- locale.studio_content_add %></div>

                            <input name="songName" type="text" placeholder="<%- locale.studio_content_song_name %>" required>

                            <label for="songThumbnail" class="drag-n-drop-area">
                                <svg class="drag-small-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.5406 13.6719C14.1806 13.6719 13.8906 13.9619 13.8906 14.3219C13.8906 14.6819 14.1806 14.9719 14.5406 14.9719C14.9006 14.9719 15.1906 14.6819 15.1906 14.3219C15.1806 13.9619 14.8906 13.6719 14.5406 13.6719Z" fill="#292D32"/>
                                    <path d="M9.06016 14.6602C8.70016 14.6602 8.41016 14.9502 8.41016 15.3102C8.41016 15.6702 8.70016 15.9602 9.06016 15.9602C9.42016 15.9602 9.71016 15.6702 9.71016 15.3102C9.71016 14.9502 9.42016 14.6602 9.06016 14.6602Z" fill="#292D32"/>
                                    <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM16.88 9.55V14.31C16.88 15.6 15.83 16.65 14.54 16.65C13.25 16.65 12.2 15.6 12.2 14.31C12.2 13.02 13.25 11.97 14.54 11.97C14.77 11.97 14.98 12.01 15.19 12.07V10.65L11.41 11.68V15.3C11.41 15.31 11.4 15.32 11.4 15.33C11.39 16.61 10.34 17.64 9.06 17.64C7.77 17.64 6.72 16.59 6.72 15.3C6.72 14.01 7.77 12.96 9.06 12.96C9.29 12.96 9.5 13 9.71 13.06V11.03V9.29C9.71 8.32 10.31 7.53 11.25 7.28L14.24 6.46C15.2 6.2 15.8 6.45 16.14 6.71C16.47 6.97 16.88 7.48 16.88 8.48V9.55Z" fill="#292D32"/>
                                </svg>
                
                                <p>
                                    <%- locale.studio_content_song_thumbnail %>
                                </p>
                            </label>
                            <input id="songThumbnail" name="songThumbnail" type="file">

                            <label for="songFile" class="drag-n-drop-area">
                                <svg class="drag-small-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.5406 13.6719C14.1806 13.6719 13.8906 13.9619 13.8906 14.3219C13.8906 14.6819 14.1806 14.9719 14.5406 14.9719C14.9006 14.9719 15.1906 14.6819 15.1906 14.3219C15.1806 13.9619 14.8906 13.6719 14.5406 13.6719Z" fill="#292D32"/>
                                    <path d="M9.06016 14.6602C8.70016 14.6602 8.41016 14.9502 8.41016 15.3102C8.41016 15.6702 8.70016 15.9602 9.06016 15.9602C9.42016 15.9602 9.71016 15.6702 9.71016 15.3102C9.71016 14.9502 9.42016 14.6602 9.06016 14.6602Z" fill="#292D32"/>
                                    <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM16.88 9.55V14.31C16.88 15.6 15.83 16.65 14.54 16.65C13.25 16.65 12.2 15.6 12.2 14.31C12.2 13.02 13.25 11.97 14.54 11.97C14.77 11.97 14.98 12.01 15.19 12.07V10.65L11.41 11.68V15.3C11.41 15.31 11.4 15.32 11.4 15.33C11.39 16.61 10.34 17.64 9.06 17.64C7.77 17.64 6.72 16.59 6.72 15.3C6.72 14.01 7.77 12.96 9.06 12.96C9.29 12.96 9.5 13 9.71 13.06V11.03V9.29C9.71 8.32 10.31 7.53 11.25 7.28L14.24 6.46C15.2 6.2 15.8 6.45 16.14 6.71C16.47 6.97 16.88 7.48 16.88 8.48V9.55Z" fill="#292D32"/>
                                </svg>
                
                                <p>
                                    <%- locale.studio_content_song_file %>
                                </p>
                            </label>
                            <input id="songFile" name="songFile" type="file">

                            <select name="genre" required>
                                <option value="" disabled selected hidden><%- locale.studio_content_song_genre %></option>
                
                                <% genres.forEach(genre => { %>
                                    <%- `<option value="${genre.genre_id}">${locale.genres_list[genre.genre_id]}</option>` %>
                                <% }); %>
                            </select>

                            <button id="upload-song" class="button green"><%- locale.studio_content_song_upload %></button>
                        </form>
                    <% } %>

                    <% if (subsection == "edittrack") { %>
                        <% if (songData) { %>
                            <form class="studio-form" method="post" enctype="multipart/form-data">
                                <div class="form-title"><%- locale.studio_content_edit %></div>

                                <input name="songName" type="text" value="<%- songData.name %>" placeholder="<%- locale.studio_content_song_name %>" required>

                                <label for="songThumbnail" class="drag-n-drop-area">
                                    <svg class="drag-small-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.5406 13.6719C14.1806 13.6719 13.8906 13.9619 13.8906 14.3219C13.8906 14.6819 14.1806 14.9719 14.5406 14.9719C14.9006 14.9719 15.1906 14.6819 15.1906 14.3219C15.1806 13.9619 14.8906 13.6719 14.5406 13.6719Z" fill="#292D32"/>
                                        <path d="M9.06016 14.6602C8.70016 14.6602 8.41016 14.9502 8.41016 15.3102C8.41016 15.6702 8.70016 15.9602 9.06016 15.9602C9.42016 15.9602 9.71016 15.6702 9.71016 15.3102C9.71016 14.9502 9.42016 14.6602 9.06016 14.6602Z" fill="#292D32"/>
                                        <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM16.88 9.55V14.31C16.88 15.6 15.83 16.65 14.54 16.65C13.25 16.65 12.2 15.6 12.2 14.31C12.2 13.02 13.25 11.97 14.54 11.97C14.77 11.97 14.98 12.01 15.19 12.07V10.65L11.41 11.68V15.3C11.41 15.31 11.4 15.32 11.4 15.33C11.39 16.61 10.34 17.64 9.06 17.64C7.77 17.64 6.72 16.59 6.72 15.3C6.72 14.01 7.77 12.96 9.06 12.96C9.29 12.96 9.5 13 9.71 13.06V11.03V9.29C9.71 8.32 10.31 7.53 11.25 7.28L14.24 6.46C15.2 6.2 15.8 6.45 16.14 6.71C16.47 6.97 16.88 7.48 16.88 8.48V9.55Z" fill="#292D32"/>
                                    </svg>
                    
                                    <p>
                                        <%- locale.studio_content_song_thumbnail %>
                                    </p>
                                </label>
                                <input id="songThumbnail" name="songThumbnail" type="file">

                                <label for="songFile" class="drag-n-drop-area">
                                    <svg class="drag-small-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.5406 13.6719C14.1806 13.6719 13.8906 13.9619 13.8906 14.3219C13.8906 14.6819 14.1806 14.9719 14.5406 14.9719C14.9006 14.9719 15.1906 14.6819 15.1906 14.3219C15.1806 13.9619 14.8906 13.6719 14.5406 13.6719Z" fill="#292D32"/>
                                        <path d="M9.06016 14.6602C8.70016 14.6602 8.41016 14.9502 8.41016 15.3102C8.41016 15.6702 8.70016 15.9602 9.06016 15.9602C9.42016 15.9602 9.71016 15.6702 9.71016 15.3102C9.71016 14.9502 9.42016 14.6602 9.06016 14.6602Z" fill="#292D32"/>
                                        <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM16.88 9.55V14.31C16.88 15.6 15.83 16.65 14.54 16.65C13.25 16.65 12.2 15.6 12.2 14.31C12.2 13.02 13.25 11.97 14.54 11.97C14.77 11.97 14.98 12.01 15.19 12.07V10.65L11.41 11.68V15.3C11.41 15.31 11.4 15.32 11.4 15.33C11.39 16.61 10.34 17.64 9.06 17.64C7.77 17.64 6.72 16.59 6.72 15.3C6.72 14.01 7.77 12.96 9.06 12.96C9.29 12.96 9.5 13 9.71 13.06V11.03V9.29C9.71 8.32 10.31 7.53 11.25 7.28L14.24 6.46C15.2 6.2 15.8 6.45 16.14 6.71C16.47 6.97 16.88 7.48 16.88 8.48V9.55Z" fill="#292D32"/>
                                    </svg>
                    
                                    <p>
                                        <%- locale.studio_content_song_file %>
                                    </p>
                                </label>
                                <input id="songFile" name="songFile" type="file">

                                <select name="genre" required>
                                    <option value="" disabled selected hidden><%- locale.studio_content_song_genre %></option>

                                    <% genres.forEach(genre => { %>
                                        <% if (typeof songData != "undefined") { %>
                                            <% if(genre.genre_id === songData.genre) {%>
                                                <%- `<option value="${genre.genre_id}" selected>${locale.genres_list[genre.genre_id]}</option>` %>
                                            <% } else { %>
                                                <%- `<option value="${genre.genre_id}">${locale.genres_list[genre.genre_id]}</option>` %>
                                            <% } %>
                                        <% } else { %>
                                            <%- `<option value="${genre.genre_id}">${locale.genres_list[genre.genre_id]}</option>` %>
                                        <% } %>
                                    <% }); %>
                                </select>

                                <button class="button yellow"><%- locale.studio_content_editbutton %></button>
                            </form>
                        <% } %>
                    <% } %>
                <% } %>
            <% } %>
    
            <% if (section == 'card') { %>
                <form class="studio-form" action="../studio/card" method="post" enctype="multipart/form-data">
                    <div class="form-title"><%- locale.studio_card_title %></div>

                    <input name="username" type="text" placeholder="<%- locale.studio_createcard_createform_username %>" value="<% if (typeof artistData != "undefined") { %><%- artistData.username %><% } %>" required>
                    <label for="bannerImg" class="drag-n-drop-area">
                        <svg class="drag-small-icon" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 26.016q0 2.496 1.76 4.224t4.256 1.76h20q2.464 0 4.224-1.76t1.76-4.224v-20q0-2.496-1.76-4.256t-4.224-1.76h-20q-2.496 0-4.256 1.76t-1.76 4.256v20zM4 24v-17.984q0-0.832 0.576-1.408t1.44-0.608h20q0.8 0 1.408 0.608t0.576 1.408v17.984h-24zM10.016 19.008q0 1.248 0.864 2.144t2.112 0.864h6.016q1.248 0 2.112-0.864t0.896-2.144q-0.256-1.344-1.088-2.464t-2.048-1.792q1.12-1.152 1.12-2.752v-1.984q0-1.664-1.184-2.848t-2.816-1.152-2.816 1.152-1.184 2.848v1.984q0 1.6 1.12 2.752-1.216 0.672-2.048 1.792t-1.056 2.464z"></path>
                        </svg>
        
                        <p>
                            <%- locale.studio_createcard_createform_banner %>
                        </p>
                    </label>
                    <input id="bannerImg" name="bannerImg" type="file">

                    <textarea name="description" type="text" placeholder="<%- locale.studio_createcard_createform_description %>"><% if (typeof artistData != "undefined") { %><%- artistData.description %><% } %></textarea>

                    <select name="genre" selected="<% if (typeof artistData != "undefined") { %><%- artistData.genre %><% } %>" required>
                        <% if (typeof artistData == "undefined") { %>
                            <option value="" disabled selected hidden><%- locale.studio_createcard_createform_genre %></option>
                        <% } %>
        
                        <% genres.forEach(genre => { %>
                            <% if (typeof artistData != "undefined") { %>
                                <% if(genre.genre_id === artistData.genre) {%>
                                    <%- `<option value="${genre.genre_id}" selected>${locale.genres_list[genre.genre_id]}</option>` %>
                                <% } else { %>
                                    <%- `<option value="${genre.genre_id}">${locale.genres_list[genre.genre_id]}</option>` %>
                                <% } %>
                            <% } else { %>
                                <%- `<option value="${genre.genre_id}">${locale.genres_list[genre.genre_id]}</option>` %>
                            <% } %>
                        <% }); %>
                    </select>


                    <button id="edit-artist" class="button yellow"><%- locale.studio_card_editcardbutton %></button>
                </form>
            <% } %>

    </main>

    <nav class="studio-navigation-bar">
        <ul class="studio-navigation-bar-list">
            <li>
                <a href="../../">
                    <svg class="small-logo" fill="#000000" width="800px" height="800px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26 17l-3 3-3-3-3 3-3-3-3 3-6-6 3-3 3 3 3-3 3 3 3-3 6 6z"></path>
                    </svg>
                </a>
            </li>

            <li>
                <ul class="studio-navigation-bar-list horizontally-center">
                    <li>
                        <a href="../../../../studio">
                            <svg class="navigation-icon" version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                 viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                            <path fill="#231F20" d="M62.79,29.172l-28-28C34.009,0.391,32.985,0,31.962,0s-2.047,0.391-2.828,1.172l-28,28
                                c-1.562,1.566-1.484,4.016,0.078,5.578c1.566,1.57,3.855,1.801,5.422,0.234L8,33.617V60c0,2.211,1.789,4,4,4h16V48h8v16h16
                                c2.211,0,4-1.789,4-4V33.695l1.195,1.195c1.562,1.562,3.949,1.422,5.516-0.141C64.274,33.188,64.356,30.734,62.79,29.172z"/>
                            </svg>
                        </a>
                    </li>

                    <li>
                        <a href="../../../../studio/content">
                            <svg class="navigation-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 3.25178V20.7518C7 21.3918 6.39 21.9018 5.77 21.7318C3.37 21.0518 2 19.0918 2 16.1918V7.81178C2 4.91178 3.37 2.95178 5.77 2.27178C6.39 2.10178 7 2.60178 7 3.25178Z" fill="#292D32"/>
                                <path d="M12.4691 14.3711C12.0891 14.3711 11.7891 14.6811 11.7891 15.0511C11.7891 15.4211 12.0991 15.7311 12.4691 15.7311C12.8491 15.7311 13.1591 15.4211 13.1591 15.0511C13.1591 14.6811 12.8491 14.3711 12.4691 14.3711Z" fill="#292D32"/>
                                <path d="M17.5181 13.4492C17.1381 13.4492 16.8281 13.7592 16.8281 14.1392C16.8281 14.5192 17.1381 14.8192 17.5181 14.8192C17.8981 14.8192 18.2081 14.5092 18.2081 14.1392C18.2081 13.7692 17.8981 13.4492 17.5181 13.4492Z" fill="#292D32"/>
                                <path d="M16.19 2H9.5C8.95 2 8.5 2.45 8.5 3V21C8.5 21.55 8.95 22 9.5 22H16.19C19.4 22 22 19.4 22 16.19V7.81C22 4.6 19.4 2 16.19 2ZM19.6 9.74V14.14C19.6 14.15 19.59 14.16 19.59 14.17C19.57 15.3 18.65 16.21 17.52 16.21C16.38 16.21 15.45 15.28 15.45 14.14C15.45 13 16.38 12.07 17.52 12.07C17.76 12.07 17.99 12.12 18.21 12.2V10.65L14.54 11.65V15.07C14.54 15.08 14.53 15.09 14.53 15.1C14.51 16.23 13.59 17.14 12.46 17.14C11.32 17.14 10.39 16.21 10.39 15.07C10.39 13.93 11.32 13 12.46 13C12.7 13 12.93 13.05 13.15 13.13V11.13V9.5C13.15 8.64 13.68 7.94 14.51 7.73L17.26 6.97C18.12 6.74 18.65 6.97 18.95 7.2C19.38 7.53 19.59 8.05 19.59 8.75V9.74H19.6Z" fill="#292D32"/>
                            </svg>
                        </a>
                    </li>

                    <li>
                        <a href="../../../../studio/card">
                            <svg class="navigation-icon" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                <rect width="48" height="48" fill="none"/>
                                <path d="M38,6H29.9V4a2,2,0,0,0-2-2h-8a2,2,0,0,0-2,2V6H10A2,2,0,0,0,8,8V44a2,2,0,0,0,2,2H38a2,2,0,0,0,2-2V8A2,2,0,0,0,38,6ZM24,14a8,8,0,1,1-8,8A8,8,0,0,1,24,14ZM36,42H12V39.2a24.1,24.1,0,0,1,24,0Z"/>
                            </svg>
                        </a>    
                    </li>
                </ul>
            </li>
            
        </ul>
    </nav>
</body>
</html>