<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- songData.username %> - <%- songData.name %></title>

    <%- include('../elems/styles.ejs', {}); %>

    <link rel="stylesheet" href="../styles/pages/playlist.css"/>

</head>
<body>
    <main>
        <div class="song-info-block">
            <%- `<div class="vertically-center-flex"><div class="song-play"><div id="song-play-button" class="song-play-button" data-id="${songData.id}"><svg width="32" height="32" viewBox="-1 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Dribbble-Light-Preview" transform="translate(-65.000000, -3803.000000)" fill="#FFFFFF"><g id="icons" transform="translate(56.000000, 160.000000)"><path d="M18.074,3650.7335 L12.308,3654.6315 C10.903,3655.5815 9,3654.5835 9,3652.8985 L9,3645.1015 C9,3643.4155 10.903,3642.4185 12.308,3643.3685 L18.074,3647.2665 C19.306,3648.0995 19.306,3649.9005 18.074,3650.7335" id="play-[#1000]"></path></g></g></g></svg></div><img class="song-info-img" src="../thumbnails/${songData.id}.png" alt="${songData.name}"></div></div>` %>
            
            <div class="song-information">
                <div class="song-info-block-track"><%- locale.song_track %></div>
                <div class="song-info-title"><%- songData.name %></div>
            </div>
        </div>

        <div class="song-info-block-title"><%- locale.song_author %></div>
        <a class="song-info-artist" href="../artist/<%- songData.artist_id %>">
            <img class="song-info-artist-banner" src="../banner/<%- songData.artist_id %>.png">
            <div class="artist-info-block">
                <div class="song-info-artist-title"><%- songData.username %></div>
                <div class="song-info-artist-description">
                    <%- songData.artist_description %>
                </div>
            </div>
        </a>
    </main>

    <%- include('../elems/header.ejs', { isIndex: false }); %>
</body>