<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <%- include('../../elems/styles.ejs', {}); %>

    <link rel="stylesheet" href="../../../../styles/pages/studio.css"/>
    <link rel="stylesheet" href="../../../../styles/pages/playlists.css"/>

    <% if (!noAction) { %>
        <script src="../../../scripts/playlistTrack.js"></script>
    <% } else { %>
        <script src="../../../../../scripts/playlistList.js"></script>
    <% } %>

    <script src="../../../../../scripts/studio.js"></script>
</head>
<body>
    <%- include('../../elems/modal-window.ejs', { title: locale.modal_delete_title, message: locale.modal_message_playlist, buttons: { yes: locale.delete, no: locale.cancel } }); %>

    <main class="playlists-list">
        <div class="studio-block transparent">
            <% if (noAction) { %>
                <% if (userData.id == playlistAuthor.id) { %>
                    <div class="label">
                        <%= locale.playlist_label %>

                        <a id="add-button" class="add-button" href="../../../../playlists/create">
                            <svg class="navigation-icon" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM16 12.75H12.75V16C12.75 16.41 12.41 16.75 12 16.75C11.59 16.75 11.25 16.41 11.25 16V12.75H8C7.59 12.75 7.25 12.41 7.25 12C7.25 11.59 7.59 11.25 8 11.25H11.25V8C11.25 7.59 11.59 7.25 12 7.25C12.41 7.25 12.75 7.59 12.75 8V11.25H16C16.41 11.25 16.75 11.59 16.75 12C16.75 12.41 16.41 12.75 16 12.75Z" fill="#292D32"/>
                            </svg>

                            <div class="small-button"><%= locale.playlist_create_button %></div>
                        </a>

                        <a id="edit-button" style="display: none;" class="add-button" href="../../../../playlists/edit">
                            <svg class="navigation-icon" width="800px" height="800px" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.681 18.207l-2.209 5.67 5.572-2.307-3.363-3.363zM26.855 6.097l-0.707-0.707c-0.78-0.781-2.047-0.781-2.828 0l-1.414 1.414 3.535 3.536 1.414-1.414c0.782-0.781 0.782-2.048 0-2.829zM10.793 17.918l0.506-0.506 3.535 3.535 9.9-9.9-3.535-3.535 0.707-0.708-11.113 11.114zM23.004 26.004l-17.026 0.006 0.003-17.026 11.921-0.004 1.868-1.98h-14.805c-0.552 0-1 0.447-1 1v19c0 0.553 0.448 1 1 1h19c0.553 0 1-0.447 1-1v-14.058l-2.015 1.977 0.054 11.085z"></path>
                            </svg>

                            <div class="small-button"><%= locale.studio_content_editbutton %></div>
                        </a>

                        <a id="delete-button" style="display: none;" class="add-button">
                            <svg class="navigation-icon" width="800px" height="800px" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.755,20.283,4,8H20L18.245,20.283A2,2,0,0,1,16.265,22H7.735A2,2,0,0,1,5.755,20.283ZM21,4H16V3a1,1,0,0,0-1-1H9A1,1,0,0,0,8,3V4H3A1,1,0,0,0,3,6H21a1,1,0,0,0,0-2Z"/>
                            </svg>

                            <div class="small-button"><%= locale.studio_content_deletebutton %></div>
                        </a>
                    </div>
                <% } else { %>
                    <div class="label">
                        <%= locale.playlist_label_author %> <%= playlistAuthor.login %>
                    </div>
                <% } %>
            <% } else { %>
                <div class="label">
                    <%= locale.playlist_label %>
                    
                    <a class="add-button" href="../../../../playlists/create">
                        <svg class="navigation-icon" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM16 12.75H12.75V16C12.75 16.41 12.41 16.75 12 16.75C11.59 16.75 11.25 16.41 11.25 16V12.75H8C7.59 12.75 7.25 12.41 7.25 12C7.25 11.59 7.59 11.25 8 11.25H11.25V8C11.25 7.59 11.59 7.25 12 7.25C12.41 7.25 12.75 7.59 12.75 8V11.25H16C16.41 11.25 16.75 11.59 16.75 12C16.75 12.41 16.41 12.75 16 12.75Z" fill="#292D32"/>
                        </svg>

                        <div class="small-button"><%= locale.studio_content_addbutton %></div>
                    </a>
                </div>
            <% } %>

            <%- include('user_playlist_list.ejs', { playlistList: playlistList, noAction: noAction, locale: locale, maxPages: maxPages}); %>
        </div>
    </main>

    <%- include('../../elems/header.ejs', { isIndex: false }); %>
</body>