<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <%- include('../../elems/styles.ejs', {}); %>

    <link rel="stylesheet" href="../../../../styles/pages/studio.css"/>
    <link rel="stylesheet" href="../../../../styles/pages/playlists.css"/>

    <% if (!noAction) { %>
        <script src="../../../scripts/playlistTrack.js"></script>
    <% } else { %>
        <script src="../../../../../scripts/playlistList.js"></script>
    <% } %>
</head>
<body>
    <main class="playlists-list">
        <div class="studio-block transparent">
            <% if (noAction) { %>
                <% if (userData.id == playlistAuthor.id) { %>
                    <div class="label">
                        <%= locale.playlist_label %>

                        <a class="add-button" href="../../../../playlists/create">
                            <svg class="navigation-icon" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM16 12.75H12.75V16C12.75 16.41 12.41 16.75 12 16.75C11.59 16.75 11.25 16.41 11.25 16V12.75H8C7.59 12.75 7.25 12.41 7.25 12C7.25 11.59 7.59 11.25 8 11.25H11.25V8C11.25 7.59 11.59 7.25 12 7.25C12.41 7.25 12.75 7.59 12.75 8V11.25H16C16.41 11.25 16.75 11.59 16.75 12C16.75 12.41 16.41 12.75 16 12.75Z" fill="#292D32"/>
                            </svg>

                            <div class="small-button"><%= locale.playlist_create_button %></div>
                        </a>
                    </div>
                <% } else { %>
                    <div class="label">
                        <%= locale.playlist_label_author %> <%= playlistAuthor.login %>
                    </div>
                <% } %>
            <% } else { %>
                <div class="label">
                    <%= locale.playlist_label %>
                    
                    <a class="add-button" href="../../../../playlists/create">
                        <svg class="navigation-icon" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM16 12.75H12.75V16C12.75 16.41 12.41 16.75 12 16.75C11.59 16.75 11.25 16.41 11.25 16V12.75H8C7.59 12.75 7.25 12.41 7.25 12C7.25 11.59 7.59 11.25 8 11.25H11.25V8C11.25 7.59 11.59 7.25 12 7.25C12.41 7.25 12.75 7.59 12.75 8V11.25H16C16.41 11.25 16.75 11.59 16.75 12C16.75 12.41 16.41 12.75 16 12.75Z" fill="#292D32"/>
                        </svg>

                        <div class="small-button"><%= locale.studio_content_addbutton %></div>
                    </a>
                </div>
            <% } %>

            <%- include('user_playlist_list.ejs', { playlistList: playlistList, noAction: noAction, locale: locale, maxPages: maxPages}); %>
        </div>
    </main>

    <%- include('../../elems/header.ejs', { isIndex: false }); %>
</body>