<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <%- include('../../elems/styles.ejs', {}); %>

    <link rel="stylesheet" href="../../../../styles/pages/admin.css"/>
    <link rel="stylesheet" href="../../../../styles/pages/studio.css"/>
</head>
<body>
    <%- include('../../elems/preloader.ejs', {}); %>

    <% var usersCount = adminData.userList.length; %>
    <% var artistsCount = adminData.artistList.length; %>
    <% var songsCount = adminData.songList.length; %>

    <% var decPlaces = Math.pow(10, 3); %>
    <% var abbrev = locale.units %>

    <% for (var i = abbrev.length - 1; i >= 0; i--)  { %>
        <% var size = Math.pow(10, (i + 1) * 3); %>

        <% if (size <= usersCount) { %>
            <% usersCount = Math.round(usersCount * decPlaces / size) / decPlaces; %>

            <% if ((usersCount == 1000) && (i < abbrev.length - 1)) { %>
                <% usersCount = 1; %>
                <% i++; %>
            <% } %>

            <% usersCount += abbrev[i]; %>
        <% } %>
    <% } %>

    <% for (var i = abbrev.length - 1; i >= 0; i--) { %>
        <% var size = Math.pow(10, (i + 1) * 3); %>

        <% if (size <= artistsCount) { %>
            <% artistsCount = Math.round(artistsCount * decPlaces / size) / decPlaces; %>

            <% if ((artistsCount == 1000) && (i < abbrev.length - 1)) { %>
                <% artistsCount = 1; %>
                <% i++; %>
            <% } %>

            <% artistsCount += abbrev[i]; %>
        <% } %>
    <% } %>

    <% for (var i = abbrev.length - 1; i >= 0; i--) { %>
        <% var size = Math.pow(10, (i + 1) * 3); %>

        <% if (size <= songsCount) { %>
            <% songsCount = Math.round(songsCount * decPlaces / size) / decPlaces; %>

            <% if ((songsCount == 1000) && (i < abbrev.length - 1)) { %>
                <% songsCount = 1; %>
                <% i++; %>
            <% } %>

            <% songsCount += abbrev[i]; %>
        <% } %>
    <% } %>

    <main class="admin-studio">
            <div class="studio-block transparent">
                <div class="label"><%- locale.admin_stats %></div>
            </div>

            <ul class="stats-block-list">
                <li class="stats-block">
                    <div class="stats-label"><%- locale.admin_stats_users_count %></div>
                    <div class="stats-number-label"><%- usersCount %></div>
                </li>

                <li class="stats-block">
                    <div class="stats-label"><%- locale.admin_stats_artists_count %></div>
                    <div class="stats-number-label"><%- artistsCount %></div>
                </li>

                <li class="stats-block">
                    <div class="stats-label"><%- locale.admin_stats_songs_count %></div>
                    <div class="stats-number-label"><%- songsCount %></div>
                </li>
            </ul>

            <div class="studio-block transparent">
                <div class="label"><%- locale.admin_report_list %></div>

                <% let reportsPerPage = 3 %>
                <% let maxPages = Math.ceil(adminData.reportList.length / reportsPerPage); %>

                <% if (adminData.reportList.length) { %>
                <ul class="studio-songs-list">
                    <% for(let i = page * reportsPerPage; i < page * reportsPerPage + reportsPerPage; i++) { %>
                        <% if (adminData.reportList[i]) { %>
                                <li data-id="<%- adminData.reportList[i].id %>">
                                    <div class="small-information">
                                        <div class="small-information">
                                            <%- `<img src="../../../banner/${adminData.reportList[i].suspect_id}" class="small-square-rounded">` %>
                                            <div>
                                                <div class="report-description"><%- locale.report_reasons[adminData.reportList[i].reason] %></div>
                                                <a class="report-artist" href="../../../../artist/<%= adminData.reportList[i].suspect_id %>"><%= adminData.reportList[i].artist_name %></a>
                                            </div>
                                        </div> 
                                    </div>

                                    <a class="button red no-animation" href="admin/report/<%= adminData.reportList[i].id %>"><%= locale.admin_report_more %></a>
                                </li>
                        <% } %>
                    <% } %>
                </ul>
                <% } else { %>
                    <div class="error-text-info">
                        <%= locale.admin_no_reports %>
                    </div>
                <% } %>

                <% if (maxPages > 1) { %>
                    <div class="pagination-list-block">
                        <ul class="pagination-list">    
                            <% for(let i = 0; i < maxPages; i++) { %>
                                <% if (i == page) { %>
                                    <%- `<li><a class="current">${(i + 1)}</a></li>` %>
                                <% } else { %>
                                    <%- `<li><a href="?page=${i + 1}">${(i + 1)}</a></li>` %>
                                <% } %>
                            <% } %>
                        </ul>
                    </div>
                <% } %>
            </div>
    </main>

    <%- include('admin_navigation.ejs', {}); %>
</body>
